* {
    /* border: 1px solid purple;  */
    
}

.content {
    display: flex;
    /* justify-content: space-evenly; */
}

.container_l {
    width: 50%;
    margin-left: 15%;
}

.container_2 {
    
    margin-right: 15%;
    margin-left: 0;
}

form {
    width: 80%;
    font-family: Mon, Arial, Helvetica, sans-serif;
}

header h1{
    text-align: center;
    font-family: Mon, Arial, Helvetica, sans-serif;
    margin: 15px 0;
}

.price {
    color: #f2994a;
    font-size: 16px;
    font-weight: 600;
}

label {
    display: block;
    font-size: 12px;
    color: #4f4f4f;
    margin: 10px 0;
}

form h3 {
    font-size: 18px;
    margin: 15px 0;
}

#shipping {
    margin-top: 50px;
}

input, select {
    border: 1px solid #828282;
    padding: 8px 5px 8px 35px;
    font-size: 14px;
    border-radius: 5px;
    width: 100%;
}

.info6, .info7 {
    display: inline-block;
    width: auto;
}

.cbox {
    display: flex;
    justify-content: left;
    align-items: center;
}

 #check {
   padding: 0; 
   width: 5%;
   margin: 0px 10px 0px 0px;
  /*  position: absolute;
    left: -300px;
    margin-top: 10px;*/
    
} 

#vintage {
    display: flex;
    width: 100%;
    margin: 10px 0;
}

#vintage_text {
    margin-left: 20px;
    font-family: Mon, Arial, Helvetica, sans-serif;
}

#levi {
    display: flex;
    width: 100%;
    margin: 10px 0;
}

#levi_text {
    margin-left: 20px;
    font-family: Mon, Arial, Helvetica, sans-serif;
}

#vintage_back, #levi_bag {
    font-size: 16px;
    color: #4e5150;

}

.container_2 img{
    width: 30%;
    border-radius: 10px;
    
}

.qty-box {
    display: flex;
    justify-content: space-around;
    width: 100px;
    margin-top: 10px;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgb(136, 136, 136);
    padding: 10px 5px;
}

.qty-box img {
    width: 100%;
    height: 100%;
}

form img {
    position: relative;
    top: -25px;
    left: 5px;
}

#total {
    margin: 50px 0;
}

.buy-detail {
    margin: 5px 0;
    border-top: 1px solid #BDBDBD;
    display: flex;
    justify-content: space-between;
    font-family: Mon, Arial, Helvetica, sans-serif;
}

#btn-submit {
    width: 10%;
    padding: 14px 0;
    border-radius: 10px;
    background-color: #f2994a;
    color: #fff;
    font-weight: 600;
    text-align: center;
    border: none;
    position: absolute;
    right: 50%;
    margin-right: -50px;
    
}

@media only screen and (max-width: 425px) {
    .content {
        display: flex;
        flex-direction: column-reverse;
        /* justify-content: space-evenly; */
    }  

    .container_l {
        width: 100%;
        margin-left: 0;
        
    }

    #btn-submit {
        width: 15%;
    }

}